[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
civis = "<=1.16.0"
numpy = "*"
paramiko = "*"
pandas = ">=2.0.0"
psycopg2 = "*"
typing_extensions = "*"
joblib = "<=1.2"
slack_sdk="==3.31.0"

[dev-packages]
pytest = "*"
flake8 = "*"
pytest-mock = "*"